#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.wizard-blue {
  color: #00a9e0;
}

.wizard-red {
  color: #ea2028;
}

.table {
  width: 50vw;
  min-width: 700px;
}
.table-row {
  display: flex;
  align-items: flex-end;
  border-bottom: solid 2px #ccc;
}
.table-row > div {
  width: var(--cell-width);
}

.dealer-icon {
  font-size: 25px;
}
.pointer {
  cursor: pointer;
}
.top-right{
  position: absolute;
  top: 5px;
  right: 5px;
}

.nudge {
  border: solid 1px gray;
  background-color: lightgray;
  margin: 0;
  padding: 0 2px;
  cursor: pointer;
}
.nudge-number {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  padding: 0 10px;
}
.minus {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.plus {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.trump {
  font-size: 22px;
}
.prev-round {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (prefers-color-scheme: light) {
  .table-row {
    border-color: #333;
  }
}
